{% extends 'base.html.twig' %}

{% block content %}
    <h1>Penguin!</h1>

    Do you know that penguins don't exist anymore?

    Original penguins (Great auk) were extinct long ago.

{% endblock %}
